<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="../static/css/usuarios.css">
   <title>Document</title>
</head>

<body>
   <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a href="#" class="navbar-brand logo"><img src="https://img.icons8.com/color/96/000000/parse-from-clipboard.png"
            height="50" />CURRICULUM VITAE</a>
      <div class="collapse navbar-collapse">
         <ul class="navbar-nav ml-auto">
            <li class="nav-sitem">
               <a href="mi_cuenta_admin.html" class="nav-link">Mi cuenta</a>
            </li>
            <li class="nav-sitem">
               <a href="usuarios.html" class="nav-link">Usuarios</a>
            </li>
            <li class="nav-item">
               <a href="iniciar_sesion.html" class="nav-link">Cerrar sesión</a>
            </li>
         </ul>
      </div>
   </nav>

   <div class="container contenido">
      <div class="row cabecera">
         <div class="col-8 titulo">
            LISTA DE USUARIOS
         </div>
         <div class="col-4 text-right align-self-center botonContenedor">
            <a th:href="@{/crear_usuario/}" class="boton">Crear usuario</a>
         </div>
      </div>

      <table class="table" id="tabla">
         <thead class="thead-dark">
           <tr>
             <th scope="col">#</th>
             <th scope="col">Correo</th>
             <th scope="col">Rol</th>
             <th scope="col">Estado</th>
           </tr>
         </thead>
         <tbody>
            <tr th:each="x:${Usuarios}">
               <th scope="row"><span th:text="${x.id}"> Id Usuario</span></th>
               <td><span th:text="${x.correo}"> Correo </span></td>
               <td><span th:text="${x.rol}"> Rol</span></td>
               <td><span th:text="${x.estado}"> Estado</span></td>
             </tr>
         </tbody>
       </table>
   
      
   </div>

   <script src="js/usuarios.js"></script>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>

</body>

</html>